<h1>Write your new password</h1>

<form action="" id="newPassForm">
    <label for="pass">New password</label>
    <input type="text" name="pass" id="pass">
    <button>Reset</button>
</form>

<script>
    const newPassForm = document.getElementById("newPassForm")
    const newPassword = document.getElementById("pass")

    newPassForm.addEventListener("submit", (e) => {
        e.preventDefault();
        fetch("/api/sessions/resetPassword", {
            method: "POST",
            body: JSON.stringify(newPassword.value),
            headers: {
            "Content-Type": "application/json",
            },
        }).then((res) => {
            
        });
    });
</script>